<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&amp;quality=100&amp;size=b4000_4000&amp;sec=1552959014&amp;di=8c8a1a42a72f45ad68b16bb12fce19ed&amp;src=http://pic.ffpic.com/files/2017/0511/0501hgngsjyssxzazgqbz8.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552969101239&amp;di=ad2600d36f0a6cc98c3470d297f182ab&amp;imgtype=0&amp;src=http%3A%2F%2Fpic.ffpic.com%2Ffiles%2F2017%2F0419%2F04124minutecyjyxzsjbzxz9.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552969101238&amp;di=0e775c16feb6e4d49659a3deec5170fe&amp;imgtype=0&amp;src=http%3A%2F%2Fpic.ffpic.com%2Ffiles%2F2017%2F0419%2F04124minutecyjyxzsjbzxz1.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1552969101236&amp;di=51ef45690f4a8abeb465d7291f16f251&amp;imgtype=0&amp;src=http%3A%2F%2Fc4.haibao.cn%2Fimg%2F0_0_100_1%2F1528874542.275%2F0fe27321889b420de75c2d07b78d3cf2.jpg</string>
</array>
</plist>
